{% extends "model.html" %}
{% block conteudo %}


<body>
<section>
    <div class="container-fluid">
        <div class="m-3">
            <h2>Nosso Grupo</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Gabriel Marques</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dev-git</h6>
                        <p class="card-text">Integrante responsável pelo github e codificação do
                            projeto.</p>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Kaio Martins</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dev</h6>
                        <p class="card-text">Integrante responsável pela codificação do
                            projeto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Natã Eduardo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dev</h6>
                        <p class="card-text">Integrante responsável pela codificação do
                            projeto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lícia Soares</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dev-Scrum Master</h6>
                        <p class="card-text">Integrante responsável pela organização do projeto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>


{% endblock %}